@media (prefers-color-scheme: dark) {
    html, body {
        background-color: black;
        font-family: Roboto, sans-serif;
        color: chartreuse;
    }
}

h1 {
    font-size: 2em;
}
div {
    font-size: 1.2em;
    margin-top: 1em;
}

.accent {
    color: red;
}

div.container {
    max-width: 35em;
}