@media (prefers-color-scheme: dark) {
    html, body {
        background-color: black;
        font-family: Roboto, sans-serif;
        color: chartreuse;
    }
    a {
        color: aqua;
    }
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.3em;
}

div {
    font-size: 1.2em;
    margin-top: 1em;
}

.accent {
    color: red;
}

div.container {
    max-width: 35em;
    margin: 2em;
}