@media (prefers-color-scheme: dark) {
    html, body {
        background-color: grey;
        font-family: Roboto, sans-serif;
    }
}

h1 {
    font-size: 2em;
}
div {
    font-size: 1.2em;
    margin-top: 1em;
}